<!DOCTYPE html>
<html lang="uk">

<head>
  {{>partials/meta title="Countries"}}
</head>

<body>
  <input type="search" autocomplete="off" placeholder="Шукайте країни" id="searchInput">

  <div id="result"></div>
</body>

</html>